:root{
    --pink : hsl(322, 100%, 66%);
    --light-pink : hsl(321, 100%, 78%);
    --light-red :  hsl(0, 100%, 63%);
    --dark-cyan : hsl(192, 100%, 9%);
    --pale-blue : hsl(207, 100%, 98%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    font-weight: 600;    
}

img{
    width: 60%;
    margin: 4rem 0;
    max-width: 500px;
    display: block;
}

h1, h2{
    font-family: 'poppins';
    font-weight: 700;
}

p{
    margin: 1.4rem 0;
}

button:focus{
    outline: none;
}

button{
    height: 2.6rem;
    padding: 0 2.6rem;
    border-radius: 50px;
    border: none;
    background-color: var(--pink);
    color: white;
    max-width:fit-content ;
    transition: 0.3s;
}

/* header-nav */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    top: 0;
    background-color: white;
    z-index: 100;
}

header img{
    width: 7rem;
    margin: 2rem 0;

}

header button{
    height: 2rem ;
    padding: 0 2rem ;
    align-self: center;
    background-color: transparent;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}


/* main */

.container{
    display: flex;
    flex-flow: column;    
    justify-items: center;
}
.container>*{
    margin-top: 6rem;
    overflow: visible;
}

section button{
    margin: 2rem 0;
    box-shadow: 0 3px 4px hsla(192, 100%, 9%, 0.445);
}

.hero{
    margin-top: 10rem;
}

.hero p{
    max-width: 700px;
}

.hero img{
    max-width:700px;
    margin: 1.4rem auto;
}

section:not(.section-0){
    text-align: center;
}

section>*,footer>*{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

span{
    font-weight: 700;
    display: block;
    font-size: 4rem;
}
.section-0>div{
    width: fit-content;
}
.section-0>div:first-child span{
    font-size: 5rem;
}

.section-0 p{
    position: relative;
    top: -2rem;
    text-align: center;
}

.icon{
    width: 2rem;
    margin: 0;
    text-align: left;
    color: var(--light-red);
}

.section-1, .section-2{
    background-color: var(--pale-blue);
}

.section-1::before, 
.section-2::before, 
.section-1:after,
.section-2:after{
    content: '';
    display: block;
    height: 52px;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100% 100%;
    background-color: white;

}

.section-1::before{
    background-image: url(images/bg-section-top-mobile-1.svg);
}
.section-2::before{
    background-image: url(images/bg-section-top-mobile-2.svg);
}
.section-1::after{
    background-image: url(images/bg-section-bottom-mobile-1.svg);
}
.section-2::after{
    background-image: url(images/bg-section-bottom-mobile-2.svg);
}

footer:before{
    content: '';
    display: block;
    width: 100%;
    height: 53px;
    background-image: url('images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 100% 100%;
    background-color: white;
    position: absolute;
    z-index: 1;
}
footer{
    background-color: var(--dark-cyan);
    z-index: 0;
    color: white;
}


footer p, footer h2{
    text-align: start;
}

form{
    text-align: end;
}
footer input{
    height: 2.6rem;
    width: 100%;
    border: none;
    margin: 1rem 0;
    border-radius: 6px;
    padding-left: 1rem;
}

footer button{
    border-radius: 6px;

}

footer i {
    display: inline;
}
footer p {
    font-weight: 400;

}

svg{
    transform: scale(0.8) translateX(-2rem);
}

footer .icon{
    width: 1rem;
    display: inline;
}

footer>div{
    margin-top: 4rem;
}

footer h2{
    font-family: sans-serif;
    font-weight: 600;
}

ion-icon {
    margin-top: 2rem;
    font-size: 2rem;
  }
ion-icon:hover {
 background-color: rgba(255, 255, 255, 0.507);
 border-radius: 4px;

  }

/* active state */
section button:hover{
    box-shadow: 0 4px 6px hsla(192, 100%, 9%, 0.815);
}

header button:hover
{
    box-shadow: 0 0 4px hsla(340, 100%, 59%, 0.445);

}

footer button:hover{
    box-shadow: 0 0 6px hsla(340, 100%, 84%, 0.788);

}



form>div{
    position: relative;
    width: 100%;

}

.msg-false{
    color: rgb(255, 64, 64);
    font-size: 0.8rem;
    position: absolute;
    margin: -1rem 0 0 1rem;
}
.msg-true{
    color: rgb(93, 217, 255);
    font-size: 0.8rem;
    position: absolute;
    margin: -1rem 0 0 1rem;

}

@media screen and (min-width: 1024px) {
    header img{
        width: fit-content;
       transform: scale(0.7);
       margin: 1rem;
    }

    .hero{
        margin-top: 15rem;
    }

    section button{
        transform: scale(1.5);
    }

    section p{
        max-width: 500px;
    }
    .end{
       margin-left: auto;
       margin-right:2rem ;
       width: fit-content;
       
    }

    .section-0>div:first-child{
        margin-right: 6rem;
    }
    .section-0>div:last-child{
        margin-left: 6rem;
    }

    .section-0 span{
        font-size: 5rem;
    }
    .container>:not(:first-child):not(:nth-child(6)){
        position: relative;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        grid-auto-flow: column;
        text-align: left;
    }

    .section-1 img,.section-2 img, footer .form{
        grid-column: 2;
    }
    .section-1 img,.section-2 img{
        margin: 10rem auto 10rem 2rem;
    }
    
    .section-1::before, .section-2::before{
        top: 0;
    }
    .section-1::after,.section-2:after{
        bottom: 0;
    }
    
    .section-1::before, 
    .section-2::before, 
    .section-1:after,
    .section-2:after, 
    footer:before
    {
        height: 156px;
    }
        
    .section-1::before{
        background-image: url(images/bg-section-top-desktop-1.svg);
    }
    .section-2::before{
        background-image: url(images/bg-section-top-desktop-2.svg);
    }
    .section-1::after{
        background-image: url(images/bg-section-bottom-desktop-1.svg);
    }
    .section-2::after{
        background-image: url(images/bg-section-bottom-desktop-2.svg);
    }

    footer::before{
        top: 0;
        background-image: url(images/bg-footer-top-desktop.svg);
    }
    footer>div{
        margin-top: 10rem;
    }
    form{
        display: flex;
        align-items: center;
    }
    form button{
        margin-left: 1.4rem;
    }
 
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }

    p{
        font-size: 1.4rem;
    }
    form>input, form>button{
        height: 3rem;
    }

}