:root{
    --pink : hsl(322, 100%, 66%);
    --light-pink : hsl(321, 100%, 78%);
    --light-red :  hsl(0, 100%, 63%);
    --dark-cyan : hsl(192, 100%, 9%);
    --pale-blue : hsl(207, 100%, 98%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
    font-weight: 600;    
}

img{
    width: 60%;
    margin: 2rem 0;
}

h1, h2{
    font-family: 'poppins';
    font-weight: 700;
}

p{
    margin: 1.4rem 0;
}

button{
    height: 2.6rem;
    padding: 0 2.6rem;
    border-radius: 50px;
    border: none;
    background-color: var(--pink);
    color: white;
    max-width:fit-content ;
}

/* header-nav */
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    top: 0;
    background-color: white;
    z-index: 100;
}

header img{
    width: 7rem;
}

header button{
    height: 2rem ;
    padding: 0 2rem ;
    align-self: center;
    background-color: transparent;
    color: var(--light-pink);
    border: 1px solid var(--light-pink);
}


/* main */

.container{
    display: flex;
    flex-flow: column;    
    justify-items: center;
}
.container>*{
    margin-top: 6rem;
    overflow: visible;
}

section button{
    margin: 2rem 0;
    box-shadow: 0 3px 4px hsla(192, 100%, 9%, 0.445);
}

.hero{
    margin-top: 10rem;
}

section:not(.section-0){
    text-align: center;
}

section>*,footer>*{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

span{
    font-weight: 700;
    display: block;
    font-size: 4rem;
}
.section-0>div{
    width: fit-content;
}
.section-0>div:first-child span{
    font-size: 5rem;
}

.section-0 p{
    position: relative;
    top: -2rem;
    text-align: center;
}

.icon{
    width: 2rem;
    margin: 0;
    text-align: left;
    color: var(--light-red);
}

.section-1::before{
    content: '';
    display: block;
    background-image: url('images/bg-section-top-mobile-1.svg');
    height: 52px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
    background-size: 100% 100%;
    background-color: white;

}
.section-2::before{
    content: '';
    display: block;
    background-image: url('images/bg-section-top-mobile-2.svg');
    height: 52px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
    background-size: 100% 100%;
    background-color: white;
}
.section-1, .section-2{
        background-color: var(--pale-blue);
}

.section-1::after{
    content: '';
    display: block;
    background-image: url('images/bg-section-bottom-mobile-1.svg');
    height: 52px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
    background-size: 100% 100%;
    background-color: white;
}

.section-2::after{
    content: '';
    display: block;
    background-image: url('images/bg-section-bottom-mobile-2.svg');
    height: 52px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
    position: relative;
    background-size: 100% 100%;
    background-color: white;
}



footer:before{
    content: '';
    display: block;
    width: 100%;
    height: 53px;
    background-image: url('images/bg-footer-top-mobile.svg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: 100% 100%;
    background-color: white;
    position: relative;
    z-index: 1;
}
footer{
    background-color: var(--dark-cyan);
    z-index: 0;
    color: white;
   
}


footer p, footer h2{
    text-align: start;
}

form{
    text-align: end;
}
footer input{
    height: 2.6rem;
    width: 100%;
    border: none;
    margin: 1rem 0;
    border-radius: 6px;
}

footer button{
    border-radius: 6px;

}

footer i {
    display: inline;
}
footer p {
    font-weight: 400;

}

svg{
    transform: scale(0.8) translateX(-2rem);
}

footer .icon{
    width: 1rem;
}

footer>div{
    margin-top: 4rem;
}

footer h2{
    font-family: sans-serif;
    font-weight: 600;
}
